# Ignore patterns for MapOSMatic

# Ignore local SQLite database
/www/datastore.sqlite3

# Ignore local settings
/www/settings_local.py

# Ignore an eventual local WSGI entry point script
/www/maposmatic.wsgi

# Ignore compiled language files
/www/locale/*/LC_MESSAGES/*.mo

/talks/*.pdf

# Ignore temp files
*~
*.swp
